{{> doc-head }}
<link href="/assets/css/salvage.css" rel="stylesheet">
<body>
    {{> header }}

    <main>
        <h1>{{ title }}</h1>
        <h3>{{ description }}</h3>

        {{{ contents }}}

        {{> salvage-nav }}
    </main>

    {{> footer }}
</body>
</html>
